<div class="layout container">
  <div class="row">
    <section class="card {{ container.state | lowercase}} col-xs-12 col-md-4 transition">
      <div class="statistics-column col-xs-6">
        <h4 class="title">Statistics</h4>
        <p class="statistics-value">
          <span>ID:</span>
          <span class="bold">{{ container.id }}</span>
        </p>
        <p class="statistics-value">
          <span>Name:</span>
          <span class="bold">{{ container.name }}</span>
        </p>
        <p class="statistics-value">
          <span>Memory:</span>
          <span class="bold">{{ container.memory }}</span>
        </p>
      </div>
      <div class="utilization-column col-xs-6">
        <h4 class="title">Utilization</h4>
        <p class="utilization-value">
          <span>CPU:</span>
          <span class="bold">{{ container.utilization.cpu }} %</span>
        </p>
        <p class="utilization-value">
          <span>Memory:</span>
          <span class="bold">{{ container.utilization.memory | vmwMemoryFormat }}</span>
        </p>
        <p class="utilization-value">
          <span>Disk:</span>
          <span class="bold">{{ container.utilization.disk | vmwMemoryFormat }}</span>
        </p>
      </div>
      <div class="card-footer pull-right">
        <button class="btn {{ container.state | lowercase}} transition" (click)="toggleContainerState($event)">
          {{ container.state === 'STARTED' ? 'Stop' : 'Start'}}
        </button>
      </div>
    </section><!-- ./card -->
  </div>
</div>
