* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.bold {
  font-weight: bolder;
}

.box {
  font-size: 16px;
  margin: 10px;
}

.btn {
  -moz-user-select: none;
  -ms-touch-action: manipulation;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-image: none;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  margin-bottom: 0;
  outline: none;
  padding: 6px 12px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn:hover {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.btn.started {
  background-color: #d43669;
  border-color: #d43f3a;
  color: #fff;
}

.btn.stopped {
  color: #fff;
  background-color: #8bc34a;
  border-color: #4cae4c;
}

.card {
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px #aaa;
  background: #f5f6f7;
  border-left: 5px solid #8bc34a;
  border-radius: 5px;
  box-shadow: 0 1px 2px #aaa;
  color: black;
  display: block;
  margin: 25px 10px;
  max-width: 500px;
  padding: 15px;
}

.card.stopped {
  border-left-color: #d43669;
}

.card-header {
  margin: 5px 0 20px;
}

.card-header .title {
  color: #888;
  margin-top: -5px;
}

.col-xs-3 {
  width: 30%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-3, .col-xs-6, .col-xs-12 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.col-xs-3, .col-xs-6, .col-xs-12,
.col-md-3, .col-md-6 {
  float: left;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container::after, .row::after {
  clear: both;
}

.container::after, .row::after,
.container::before, .row::before {
  display: table;
  content: " ";
}

.stopped .utilization-column {
  color: grey;
  font-style: italic;
}

.layout {
  line-height: 1.2;
  vertical-align: middle;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.title {
  margin: 0;
}

.transition {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.utilization-column {
  margin: 15px 0;
  padding: 0;
}

.utilization-column > div {
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px #aaa;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 1px 2px #aaa;
  margin: 10px 5px;
  min-width: 100px;
  padding: 5px 0;
  text-align: center;
}

.utilization-column .title {
  margin: 20px 0;
  padding-left: 15px;
}


@media (min-width: 768px) {
  .container {
    width:750px;
  }
}

@media (min-width: 992px) {
  .container {
    width:970px;
  }

  .col-md-3 {
    width: 31.5%;
  }
}

@media (min-width: 1200px) {
  .container {
    width:1170px;
  }
}
