    .vm-container {
        border-radius: 10px;
        margin-top: 1em;
    }

    .vm-container__id {
        font-size: 0.7em;
        letter-spacing: .15em;
        text-transform: uppercase;
    }

    .vm-container__name, .vm-container__memory {
        font-size: 0.9em;
        letter-spacing: .15em;
        text-transform: uppercase;
    }

    .vm-container__description,
    .vm-container__utilization {

    }

    .vm-container__utilization {
        
    }

    .vm-container__state, .vm-container__state--current {
        margin-left: 1em;
        font-size: 0.8em;
    }


    .main-container {
        background: rgba(203, 203, 210, 0.15);
    }
    .main-container h4 { margin: 10px 0 5px 0; }

    hr { margin: 10px 0 0 0; }